<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 1200px; margin: auto;  text-align: center">
      <mat-card>
        <DIV *ngIf="isAdminRole" style="background-color: #899a9a">
          <h1>Trình quản lí dành cho ADMIN</h1>
          <button routerLink="create-carousel" mat-raised-button color="accent"
                  style="width: 30%" class="mat-raised-button" >
            Màn Quản Lý Tin HOT
          </button>
          <button routerLink="create-category" mat-raised-button color="primary"
                  style="width: 30%" class="mat-raised-button" >
            Màn Quản Lý Thể Loại Tin Tức
          </button>
          <button routerLink="create-news" mat-raised-button color="warn"
                  style="width: 30%" class="mat-raised-button" >
            Màn Quản Lý Tin Tức
          </button>
        </DIV>
        <div *ngFor="let ctg of listCategories">
          <mat-card>
            <h1 class="category-title">{{ctg.name}}</h1>
            <div class="gallery">
              <div *ngFor="let news of categoryNewsMap[ctg.id || 0]" style="text-align: center">
                <a [routerLink]="['/news-detail/',news.id]">
                <img src="{{news.imageUrl}}" alt="" >
                </a>
                <h4>{{news.title}}</h4>
              </div>
            </div>
            <mat-paginator [length]="categoryTotalMap[ctg.id!] || 0"
                           (page)="nextPage(ctg.id,$event)"
                           [pageSizeOptions]="[5, 10, 15, 100]">
            </mat-paginator>
            <hr>
          </mat-card>
        </div>

      </mat-card>
    </div>
  </div>
</div>
