.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột đều nhau */
  gap: 20px; /* khoảng cách giữa các phần tử */
  margin-top: 20px;
}

.gallery div {
  background: rgba(174, 207, 114, 0.49);
  padding: 10px;
  border-radius: 8px; /* bo góc cho khung chứa */
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.gallery img {
  width: 100%;
  height: 70%;
  border-radius: 8px; /* bo tròn 4 góc ảnh */
  object-fit: cover;
}
.category-title {
  text-align: left;          /* căn lề trái */
  background-color: rgba(132, 124, 170, 0.53); /* màu nền (có thể đổi) */
  padding: 10px 15px;        /* khoảng cách trong */
  border-radius: 6px;        /* bo góc nhẹ */
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;       /* cách phần dưới */
}
