<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 1200px; margin: auto;  text-align: center">
      <mat-card>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-col">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Ngày ký hợp đồng tín dụng</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="contractDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số Hợp Đồng TD</mat-label>
                <input matInput formControlName="soHopDongTD" placeholder="01/25/232/HĐTD">
              </mat-form-field>
            </div>
            <div class="form-col checkbox-input-col">
              <mat-checkbox formControlName="checkOption"></mat-checkbox>
              <mat-form-field appearance="fill">
                <mat-label>Cho vay</mat-label>
                <input matInput formControlName="choVay" placeholder="Cho vay:">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Chọn loại:</mat-label>
                <mat-select formControlName="loaiVay">
                  <mat-option value="NGẮN HẠN">NGẮN HẠN</mat-option>
                  <mat-option value="TRUNG HẠN">TRUNG HẠN</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Chọn Người đại diện: </mat-label>
                <mat-select formControlName="nguoiDaiDien">
                  <mat-option value="gd">PHÙNG THỊ LOAN</mat-option>
                  <mat-option value="pgd">VŨ THANH HẢI</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
<!--          <div class="form-col">-->
<!--            <mat-form-field appearance="fill" class="example-full-width">-->
<!--              <mat-hint style="color: red">TT Người đại diện: Nếu có ủy quyền, hãy nhập nội dung thay thế, không sẽ nhận-->
<!--                dữ liệu mặc định-->
<!--              </mat-hint>-->
<!--              <mat-label>Thông tin người đại diện: PHÙNG THỊ LOAN - Chức vụ: Giám đốc điều hành</mat-label>-->
<!--              <textarea matInput formControlName="nguoiDaiDien" rows="3"-->
<!--                        placeholder="PHÙNG THỊ LOAN - Chức vụ: Giám đốc điều hành"></textarea>-->
<!--            </mat-form-field>-->
<!--          </div>-->
          <br>
          <br>
          <div class="section-row">
            <!-- KHÁCH HÀNG -->
            <div class="section-col">
              <h2>Thông tin Khách Hàng</h2>
              <div class="form-row-3">
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Tên Khách Hàng</mat-label>
                    <input matInput formControlName="tenKhachHang" placeholder="NGUYỄN ĐỒNG A">
                  </mat-form-field>
                </div>
                <div class="form-col">
                  <mat-form-field>
                    <mat-label>Giới tính</mat-label>
                    <mat-select formControlName="gtkh">
                      <mat-option value="Ông">Ông
                      </mat-option>
                      <mat-option value="Bà">Bà
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày Sinh</mat-label>
                    <input matInput formControlName="namSinhKhachHang" placeholder="01/08/1984">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput formControlName="phoneKhachHang" placeholder="0343304666">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số Thẻ Thành Viên</mat-label>
                    <input matInput formControlName="soTheThanhVienKhachHang" placeholder="010400">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số CCCD</mat-label>
                    <input matInput formControlName="cccdKhachHang" placeholder="030084015981">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày cấp CCCD</mat-label>
                    <input matInput formControlName="ngayCapCCCDKhachHang" placeholder="11/08/2021">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Nơi cấp khách hàng: </mat-label>
                    <mat-select formControlName="noiCapCCCDKhachHang">
                      <mat-option value="Cục cảnh sát QLHC về TTXH">CCSQLHCVTTXH</mat-option>
                      <mat-option value="Bộ công an">Bộ công an</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Địa Chỉ Thường Trú</mat-label>
                    <textarea matInput formControlName="diaChiThuongTruKhachHang"
                              placeholder="TDP Lạc Sơn"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <!-- NGƯỜI THÂN -->
            <div class="section-col">
              <h2>Thông tin Người Thân</h2>
              <div class="form-row-3">
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Tên Người Thân</mat-label>
                    <input matInput formControlName="tenNguoiThan" placeholder="NGUYỄN THỊ B">
                  </mat-form-field>
                </div>
                <div class="form-col">
                  <mat-form-field>
                    <mat-label>Giới tính</mat-label>
                    <mat-select formControlName="gtnt">
                      <mat-option value="Và ông">Ông
                      </mat-option>
                      <mat-option value="Và bà">Bà
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày Sinh</mat-label>
                    <input matInput formControlName="namSinhNguoiThan" placeholder="01/08/1991">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số CCCD</mat-label>
                    <input matInput formControlName="cccdNguoiThan" placeholder="030084015981">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày cấp CCCD</mat-label>
                    <input matInput formControlName="ngayCapCCCDNguoiThan" placeholder="11/08/2021">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Nơi cấp người thân: </mat-label>
                    <mat-select formControlName="noiCapCCCDNguoiThan">
                      <mat-option value="Cục cảnh sát QLHC về TTXH">CCSQLHCVTTXH</mat-option>
                      <mat-option value="Bộ công an">Bộ công an</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Quan Hệ với Khách Hàng</mat-label>
                    <input matInput formControlName="quanHe" placeholder="Là vợ">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row-3">
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Địa Chỉ Thường Trú Người Thân</mat-label>
                    <textarea matInput formControlName="diaChiThuongTruNguoiThan"
                              placeholder="TDP Lạc Sơn"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h2>Nhập thông tin vay vốn</h2>
          <div class="form-row">
            <!-- Nhập số tiền -->
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số tiền vay (VNĐ)</mat-label>
                <input matInput formControlName="tienSo" (input)="convertToWords()" placeholder="1.400.000.000">
              </mat-form-field>
            </div>
            <!-- Hiển thị số tiền bằng chữ -->
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số tiền bằng chữ</mat-label>
                <input matInput [value]="tienChu" readonly>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Mục đích vay</mat-label>
                <input matInput formControlName="muchDichVay" placeholder="Ví dụ: Mua nhà, kinh doanh...">
              </mat-form-field>
            </div>

            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Thời hạn cho vay:</mat-label>
                <input matInput formControlName="hanMuc" placeholder="Ví dụ: 12 tháng">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Lãi suất (%/năm)</mat-label>
                <input matInput formControlName="laiSuat" placeholder="7,5%/năm">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Ngày ký hợp đồng thế chấp</mat-label>
                <input matInput [matDatepicker]="ngayTC" formControlName="ngayTheChap">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="ngayTC"></mat-datepicker-toggle>
                <mat-datepicker #ngayTC></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số hợp đồng TC</mat-label>
                <input matInput formControlName="soHopDongTheChapQSDD" placeholder="07/26/006/HĐTC">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số BB Xét Duyệt Cho Vay</mat-label>
                <input matInput formControlName="soBBXetDuyetChoVay" placeholder="118/2025">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Ngày kết thúc hợp đồng</mat-label>
                <input matInput formControlName="ngayKetThucKyHanVay" placeholder="11/11/2028">
              </mat-form-field>
            </div>
          </div>
          <mat-checkbox formControlName="hasTable">Có bảng kỳ hạn vay</mat-checkbox>
          <div *ngIf="formGroup.get('hasTable')?.value" class="table-section">
            <h3>Tiêu đề bảng</h3>
            <div class="table-row-headers" formArrayName="tableHeaders">
              <mat-form-field *ngFor="let headerCtrl of tableHeaders.controls; let i = index">
                <mat-label>Cột {{ i + 1 }}</mat-label>
                <input matInput [formControlName]="i">
              </mat-form-field>
            </div>

            <h3>Dữ liệu các dòng</h3>
            <div formArrayName="tableRows">
              <div *ngFor="let rowGroup of tableRows.controls; let i = index" [formGroupName]="i" class="table-row">
                <mat-form-field><input matInput formControlName="col1" placeholder="Cột 1"></mat-form-field>
                <mat-form-field><input matInput formControlName="col2" placeholder="Cột 2"></mat-form-field>
                <mat-form-field><input matInput formControlName="col3" placeholder="Cột 3"></mat-form-field>
                <button mat-icon-button color="warn" (click)="removeRow(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <!-- Preview table -->
            <table *ngIf="tableData" class="table table-bordered">
              <thead>
              <tr>
                <th *ngFor="let header of tableData?.headers">{{ header }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData.rows">
                <td *ngFor="let cell of row">{{ cell }}</td>
              </tr>
              </tbody>
            </table>

            <button type="button" mat-raised-button style="background: #24af05; color: red" (click)="addRow()">
              <mat-icon>post_add</mat-icon>
              Thêm dòng Cho Bảng
            </button>
          </div>
          <h2>Nhập thông tin tài sản TSTC</h2>
          <div class="form-row-3">
            <!-- Nhập số tiền -->
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số Seri Bìa Đỏ</mat-label>
                <input matInput formControlName="serial" placeholder="I 900059">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field>
                <mat-label>Chọn Nơi Cấp</mat-label>
                <mat-select formControlName="noiCapSo">
                  <mat-option value="UBND huyện Chí Linh, tỉnh Hải Dương">UBND huyện Chí Linh, tỉnh Hải Dương
                  </mat-option>
                  <mat-option value="Chi nhánh văn phòng đăng ký đất đai thành phố Chí Linh">Chi nhánh văn phòng đăng ký
                    đất đai thành phố Chí Linh
                  </mat-option>
                  <mat-option value="Địa chỉ thứ 3">Địa chỉ thứ 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Hiển thị số tiền bằng chữ -->
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Ngày Cấp</mat-label>
                <input matInput formControlName="ngayCapSo" placeholder="14/7/1999">
              </mat-form-field>
            </div>

            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số vào sổ CNQSDĐ</mat-label>
                <input matInput formControlName="noiDungVaoSo"
                       placeholder="1703 QSDĐ/TH-CL">
              </mat-form-field>
            </div>

            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Thửa đất số</mat-label>
                <input matInput formControlName="soThuaDat" placeholder="134">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Tờ bản đồ</mat-label>
                <input matInput formControlName="soBanDo" placeholder="10">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Địa chỉ Thửa Đất</mat-label>
                <textarea matInput formControlName="diaChiThuaDat" placeholder="...,huyện Chí Linh, tỉnh Hải Dương
                                                                                    Nay là Phường Chu Văn An, thành phố Hải Phòng"></textarea>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Diện tích</mat-label>
                <input formControlName="dienTichDatSo" matInput placeholder="690">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Diện tích Bằng Chữ</mat-label>
                <input formControlName="dienTichDatChu" matInput>
              </mat-form-field>
            </div>
            <div class="form-col checkbox-input-col">
              <mat-checkbox formControlName="checkMucDich"></mat-checkbox>
              <mat-form-field appearance="fill">
                <mat-label>Mục đích sử dụng</mat-label>
                <textarea formControlName="muchDichSuDung" matInput
                          placeholder="+ Đất ở: 200 m2; + Đất thừa hợp pháp: 490 m2"></textarea>
              </mat-form-field>
            </div>
            <div class="form-col checkbox-input-col">
              <mat-checkbox formControlName="checkLoaiDat"></mat-checkbox>
              <mat-form-field appearance="fill">
                <mat-label>Loại đất</mat-label>
                <textarea formControlName="loaiDat" matInput
                          placeholder="+ Đất ở: 200 m2; + Đất thừa hợp pháp: 490 m2"></textarea>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Thời hạn sử dụng</mat-label>
                <textarea formControlName="thoiHanSuDung" matInput></textarea>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Số biên bản định giá</mat-label>
                <input formControlName="soBienBanDinhGia" matInput>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Nội dung thỏa thuận</mat-label>
                <input formControlName="noiDungThoaThuan" matInput>
              </mat-form-field>
            </div>
            <!-- Nguồn gốc sử dụng -->
            <div class="form-col checkbox-input-col">
              <mat-checkbox formControlName="checkNguonGocSuDung">
                <!-- Có thể bỏ label trong checkbox nếu muốn -->
              </mat-checkbox>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Nguồn gốc sử dụng</mat-label>
                <textarea matInput formControlName="nguonGocSuDung"
                          placeholder="Ví dụ: Đất thừa kế, mua bán..."></textarea>
              </mat-form-field>
            </div>

            <!-- Ghi chú -->
            <div class="form-col checkbox-input-col">
              <mat-checkbox formControlName="checkGhiChu"></mat-checkbox>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Ghi chú</mat-label>
                <textarea matInput formControlName="ghiChu"
                          placeholder="Nhập ghi chú nếu cần"></textarea>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Hình thức sử dụng</mat-label>
                <textarea formControlName="hinhThucSuDung" matInput
                          placeholder="+ Sử dụng riêng: 690  m2; + Sử dụng chung: 0 m2"></textarea>
              </mat-form-field>
            </div>
          </div>
          <h2>Nhập thêm thông tin GIẤY ĐỀ NGHỊ VAY VỐN</h2>
          <mat-checkbox formControlName="checkHopDongBaoLanh"><span style="color: red">Tích chọn nếu là hợp đồng bảo lãnh</span></mat-checkbox>
          <div class="section-row">
            <div class="section-col">
              <h2>{{titleNguoiBaoLanh1}}</h2>
              <div class="form-row-3">
                <div class="form-col">
                  <mat-form-field appearance="fill">
                    <mat-label>Người đứng bảo lãnh 1</mat-label>
                    <input matInput formControlName="dungTenBiaDo1" placeholder="Người đứng tên bìa đỏ 1">
                  </mat-form-field>
                </div>
                <div class="form-col">
                  <mat-form-field>
                    <mat-label>Giới tính</mat-label>
                    <mat-select formControlName="gioiTinhDungTenBiaDo1">
                      <mat-option value="Ông">Ông
                      </mat-option>
                      <mat-option value="Bà">Bà
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày Sinh</mat-label>
                    <input matInput formControlName="namSinhDungTenBiaDo1" placeholder="01/08/1984">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput formControlName="phoneDungTenBiaDo1" placeholder="0343304666">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số CCCD</mat-label>
                    <input matInput formControlName="cccdDungTenBiaDo1" placeholder="030084015981">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày cấp CCCD</mat-label>
                    <input matInput formControlName="ngayCapCCCDDungTenBiaDo1" placeholder="11/08/2021">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Nơi cấp cccd bảo lãnh 1: </mat-label>
                    <mat-select formControlName="noiCapCCCDDungTenBiaDo1">
                      <mat-option value="Cục cảnh sát QLHC về TTXH">CCSQLHCVTTXH</mat-option>
                      <mat-option value="Bộ công an">Bộ công an</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Địa Chỉ Thường Trú</mat-label>
                    <textarea matInput formControlName="diaChiThuongTruDungTenBiaDo1"
                              placeholder="TDP Lạc Sơn"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="section-col">
              <h2>{{titleNguoiBaoLanh2}}</h2>
              <div class="form-row-3">
                <div class="form-col checkbox-input-col">
                  <mat-checkbox formControlName="checkNguoiDungTenBiaDo2"></mat-checkbox>
                  <mat-form-field appearance="fill">
                    <mat-label>Người bảo lãnh 2</mat-label>
                    <input matInput formControlName="dungTenBiaDo2" placeholder="Người đứng tên bìa đỏ 2">
                  </mat-form-field>
                </div>
                <div class="form-col">
                  <mat-form-field>
                    <mat-label>Giới tính</mat-label>
                    <mat-select formControlName="gioiTinhDungTenBiaDo2">
                      <mat-option value="Và ông">Ông
                      </mat-option>
                      <mat-option value="Và bà">Bà
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày Sinh</mat-label>
                    <input matInput formControlName="namSinhDungTenBiaDo2" placeholder="01/08/1984">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Số CCCD</mat-label>
                    <input matInput formControlName="cccdDungTenBiaDo2" placeholder="030084015981">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Ngày cấp CCCD</mat-label>
                    <input matInput formControlName="ngayCapCCCDDungTenBiaDo2" placeholder="11/08/2021">
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Nơi cấp cccd bảo lãnh 2: </mat-label>
                    <mat-select formControlName="noiCapCCCDDungTenBiaDo2">
                      <mat-option value="Cục cảnh sát QLHC về TTXH">CCSQLHCVTTXH</mat-option>
                      <mat-option value="Bộ công an">Bộ công an</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Địa Chỉ Thường Trú</mat-label>
                    <textarea matInput formControlName="diaChiThuongTruDungTenBiaDo2"
                              placeholder="TDP Lạc Sơn"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="section-col">
              <h2>Trường hợp bìa đỏ sang tên nếu có: </h2>
              <div class="form-row-3">
                <div class="form-col checkbox-input-col">
                  <mat-checkbox formControlName="checkNguoiMangTenBiaDo"></mat-checkbox>
                  <mat-form-field appearance="fill">
                    <mat-label>Nội dung sang tên</mat-label>
                    <textarea matInput formControlName="nguoiMangTen" placeholder="mang tên bà Đặng Thị Hà. Ngày 18/11/2025, Chi nhánh Văn phòng đăng ký đất đai Chí Linh xác nhận chuyển nhượng cho ông Nguyễn Đình Nam CC số 030084018290 và bà Nguyễn Thị Thu Huế  CCCD số 031189020545 theo hồ sơ số 002575.CN.007"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row-3">
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Thời hạn vay tính theo năm</mat-label>
                <input matInput formControlName="thoiHanVay" placeholder="3">
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Thông tin các loại đất</mat-label>
                <textarea matInput formControlName="landItems" rows="5"
                          placeholder="+ Đất ở: 120m²; được định giá là: 1.200.000.000 đồng
+ Đất LNK: 300m²; được định giá là: 2.500.000.000 đồng
+ Đất ao: 300m²; được định giá là: 2.500.000.000 đồng"></textarea>
              </mat-form-field>
            </div>
            <div class="form-col checkbox-input-col">
              <mat-checkbox formControlName="checkNhaCoDinh"></mat-checkbox>
              <mat-form-field appearance="fill">
                <mat-label>Nhà cố định</mat-label>
                <textarea matInput formControlName="nhaCoDinh" placeholder=""></textarea>
              </mat-form-field>
            </div>
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Tổng giá trị tài sản bìa đỏ (VNĐ)</mat-label>
                <input formControlName="tongTaiSanBD" matInput [value]="tongTaiSanBD" readonly></mat-form-field>
            </div> <!-- Hiển thị tổng tài sản bằng chữ -->
            <div class="form-col">
              <mat-form-field appearance="fill">
                <mat-label>Tổng giá trị tài sản bìa đỏ (Bằng chữ)</mat-label>
                <input formControlName="tongTaiSanBDChu" matInput [value]="tongTaiSanBDChu" readonly></mat-form-field>
            </div>
          </div>
          <h2>Nhập thông tin: Biên Bản Xác Định Giá Trị Tài Sản Bảo Đảm</h2>
          <div class="form-row">
            <div formArrayName="table1">
              <b>Giá đất theo giá UBND tỉnh Hải Dương quy định: </b>
              <table class="table table-bordered">
                <tbody>
                <tr *ngFor="let row of table1.controls; let i = index" [formGroupName]="i">
                  <td><input matInput formControlName="col1"></td>
                  <td><input matInput formControlName="col2"></td>
                  <td><input matInput formControlName="col3"></td>
                  <td><input matInput formControlName="col4"></td>
                  <td><input matInput formControlName="col5"></td>
                  <td><input matInput formControlName="col6" readonly></td>
                  <td><input matInput formControlName="col7" readonly></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div formArrayName="table2">
              <b>Căn cứ giá đất trên thị trường phường Thái Học tại thời điểm xác định giá tài sản: </b>
              <table class="table table-bordered">
                <tbody>
                <tr *ngFor="let row of table2.controls; let i = index" [formGroupName]="i">
                  <td><input matInput formControlName="col1"></td>
                  <td><input matInput formControlName="col2"></td>
                  <td><input matInput formControlName="col3"></td>
                  <td><input matInput formControlName="col4"></td>
                  <td><input matInput formControlName="col5"></td>
                  <td><input matInput formControlName="col6" readonly></td>
                  <td><input matInput formControlName="col7" readonly></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div formArrayName="table3">
              <b>Giá do hai bên cùng thỏa thuận thống nhất xác định: </b>
              <table class="table table-bordered">
                <tbody>
                <tr *ngFor="let row of table3.controls; let i = index" [formGroupName]="i">
                  <td><input matInput formControlName="col1"></td>
                  <td><input matInput formControlName="col2"></td>
                  <td><input matInput formControlName="col3"></td>
                  <td><input matInput formControlName="col4"></td>
                  <td><input matInput formControlName="col5"></td>
                  <td><input matInput formControlName="col6" readonly></td>
                  <td><input matInput formControlName="col7" readonly></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>


          <br>
          <!--          <button mat-raised-button color="primary" type="submit">Tạo hợp đồng</button>-->
          <button mat-raised-button color="primary" type="submit">Xem trước File</button>
        </form>
        <br>


        <div *ngFor="let url of fileUrls; let i = index">
          <h3>File {{ i + 1 }}</h3>
          <iframe [src]="getGoogleViewerUrl(url)" width="100%" height="600px"></iframe>
        </div>
        <!-- Nhúng component upload nhiều file -->
        <h2 style="text-align: left">Upload File Hình Ảnh Bìa Đỏ (Nhiều Ảnh)</h2>
        <div class="form-col checkbox-input-col">
          <input type="file" multiple (change)="onFilesSelected($event)"/>

          <div *ngIf="fileAvatarUrls.length > 0" style="margin-top: 10px; display: flex; flex-direction: column; gap: 15px;">
            <div *ngFor="let file of fileAvatarUrls; let i = index" style="display: flex; flex-direction: column; align-items: flex-start;">
              <h3>Ảnh {{ i + 1 }}</h3>
              <img [src]="file.fileUrl"
                   style="max-width: 800px; height: auto; border-radius: 8px; margin-bottom: 10px;">
            </div>
          </div>
        </div>
        <div>
          <button mat-raised-button color="accent" (click)="openExportDialog()">
            <mat-icon>download_2</mat-icon>
            Export Hợp Đồng
          </button>
          <button routerLink="/list-credit-contract" mat-raised-button color="primary">
            <mat-icon>keyboard_return</mat-icon>
            Quay về trang quản lý
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

