<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 1200px; margin: auto;  text-align: center">
      <mat-card>
        <mat-form-field *ngIf="showSearch" appearance="outline" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Tìm kiếm Câu chuyện thành công</mat-label>
          <input matInput (keyup.enter)="searchAll(searchInput.value)" #searchInput>
          <button mat-icon-button matSuffix (click)="searchAll(searchInput.value)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <div *ngFor="let ctg of listCategories">
          <mat-card>
            <h1 [routerLink]="['/detail-category/',ctg.id]" class="category-title">
              <img style="border-radius: 50%" src="../../../../assets/image/logo/logo.png" height="30" width="30"/>
              {{ ctg.name }}</h1>
            <!-- Search box -->
            <div class="gallery">
              <div *ngFor="let storySuccess of categoryNewsMap[ctg.id || 0]" style="text-align: center">
                <a [routerLink]="['/detail-story-success/',storySuccess.id]">
                  <img src="{{storySuccess.imageUrl}}" alt="">
                </a>
                <h3>{{ storySuccess.title }}</h3>
                <h5>{{ storySuccess.description }}</h5>
              </div>
            </div>
            <mat-paginator [length]="categoryTotalMap[ctg.id!] || 0"
                           (page)="nextPage(ctg.id,$event)"
                           [pageSizeOptions]="[3, 6, 9, 12,15, 99]">
            </mat-paginator>
            <hr>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
