.map-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
  position: relative;
  padding-left: 20px;
}

.map-link::before {
  content: "📍";
  position: absolute;
  left: 0;
  top: 0;
}

.map-link:hover {
  color: #007BFF; /* Màu xanh khi hover */
  text-decoration: underline;
}
.zalo-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.zalo-link:hover {
  color: #0088FF;
}
footer {
  color: yellow !important; /* toàn bộ chữ trong footer thành màu trắng */
}

footer a {
  color: yellow !important; /* các link cũng thành màu trắng */
  /*text-decoration: none;     !* bỏ gạch chân nếu muốn *!*/
}

footer h5 {
  color: yellow !important; /* tiêu đề trong footer màu trắng */
}

footer p {
  color: yellow !important; /* đoạn văn trong footer màu trắng */
}

footer li {
  color: yellow !important; /* danh sách trong footer màu trắng */
}

.zalo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  object-fit: contain;
}
.messenger-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.messenger-link:hover {
  color: #0084FF; /* Màu Messenger */
}

.messenger-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  object-fit: contain;
}
