<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 1200px; margin: auto; min-width: 600px; text-align: center">
      <mat-card style="background: rgba(255,255,255,0.7)">
        <h1 style="margin:auto; margin-top: 50px; margin-bottom: 10px; font-weight: 600; color: #1E90FF;">Tạo Tin HOT</h1>
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="form" (ngSubmit)="createCarousel()" novalidate>
            <mat-form-field class="example-full-width">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput placeholder="Title">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput placeholder="Description">
            </mat-form-field>
            <br>

            <app-quill-content formControlName="content"></app-quill-content>

            <app-upload-avatar (giveURLtoCreate)="onUpload($event)"></app-upload-avatar>
            <br>

            <mat-error class="alert form-angular">{{ status }}</mat-error>

            <button style="margin:auto; width: 50%; color: #0535f4" mat-stroked-button type="submit">
              Tạo Tin Hot
            </button>
          </form>
        </mat-dialog-content>
      </mat-card>
    </div>
  </div>
</div>

<app-list-crousel #listCarousel></app-list-crousel>
