<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 1200px; margin: auto; min-width: 600px; text-align: center">
      <mat-card style="background: rgba(255,255,255,0.7)">
        <h1 style="margin:auto; margin-top: 50px; margin-bottom: 10px; font-weight: 600; color: #1E90FF;">Tạo Tin
          HOT</h1>
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="example-full-width">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput placeholder="Title">
              <mat-error *ngIf="form.get('title')?.hasError('required') && form.get('title')?.touched">
                Vui lòng nhập tiêu đề
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput placeholder="Description">
            </mat-form-field>
            <br>
            <app-quill-content #quillContent formControlName="content"></app-quill-content>
            <mat-error *ngIf="form.get('imageUrl')?.hasError('required') && form.get('imageUrl')?.touched">
              Vui lòng upload ảnh đại diện
            </mat-error>
            <app-upload-avatar #uploadAvatar (giveURLtoCreate)="onUpload($event)"></app-upload-avatar>
            <br>
            <mat-error>{{this.status}}</mat-error>
            <button style="margin:auto; width: 50%; background-color: rgba(205,17,130,0.45); color: #0535f4" mat-stroked-button type="submit">
              Tạo Tin Hot
            </button>
          </form>
        </mat-dialog-content>
      </mat-card>
    </div>
  </div>
</div>

<app-list-crousel #listCarousel></app-list-crousel>
