<!--<div class="container">-->
<!--  <div class="content">-->
<!--    <a routerLink="">-->
<!--&lt;!&ndash;      <mat-icon>arrow_back</mat-icon>&ndash;&gt;-->
<!--    </a>-->
<!--    <h1 style="font-weight: 600">Thể loại</h1>-->
<!--  </div>-->
<!--  <div style="margin-bottom: 20px">-->
<!--    <button mat-button *ngIf="checkUserAdmin" (click)="openDialogCreate()" type="submit">Tạo thể loại<mat-icon>add_circle</mat-icon></button>-->
<!--  </div>-->
<!--  <div class="gallery">-->
<!--    <div *ngFor="let ctg of listCategory" class="gallery-item col-lg-6" tabindex="0">-->
<!--      <a [routerLink]="['/detail-category/',ctg.id]">-->
<!--        <img style="" src="{{ctg.avatar}}"-->
<!--             class="gallery-image" alt="" height="205.6px">-->
<!--      </a>-->
<!--      <div style="display: flex">-->
<!--        <div class="info" style="width: 80%">-->
<!--          <a href=""><h4>{{ctg.name}}</h4></a>-->
<!--        </div>-->

<!--        <div class="info" style="float: right;width: 10%;margin-top: 5px">-->

<!--          <mat-icon [matMenuTriggerFor]="menu" *ngIf="checkUserAdmin">pending</mat-icon>-->
<!--          <mat-menu #menu="matMenu">-->

<!--            <button mat-menu-item  *ngIf="checkUserAdmin" (click)="openDialogDelete(ctg.id)">-->
<!--              <mat-icon style="color: darkred">delete</mat-icon>-->
<!--            </button>-->
<!--            <button mat-menu-item  *ngIf="checkUserAdmin" (click)="openDialogUpdate(ctg.id)">-->
<!--              <mat-icon style="color: goldenrod">edit-->
<!--              </mat-icon>-->
<!--            </button>-->

<!--          </mat-menu>-->
<!--&lt;!&ndash;          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-icon>more_vert</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-menu-item>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-icon>dialpad</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>Redial</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-menu-item disabled>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-icon>voicemail</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>Check voice mail</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-menu-item>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-icon>notifications_off</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>Disable alerts</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-menu>&ndash;&gt;-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--  <mat-paginator [length]="totalElements"-->
<!--                 (page)="nextPage($event)"-->
<!--                 [pageSizeOptions]="[5, 10, 15, 100]"-->
<!--                 aria-label="Select page">-->
<!--  </mat-paginator>-->
<!--</div>-->

<!--&lt;!&ndash;<button (click)="openDialogCreate()" type="submit" mat-stroked-button color="accent"&ndash;&gt;-->
<!--&lt;!&ndash;        class="mat-button-toggle-group btn-outline-primary">&ndash;&gt;-->
<!--&lt;!&ndash;  Create Category&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
