<div class="container">
  <div class="content">
    <a routerLink="">
<!--      <mat-icon>arrow_back</mat-icon>-->
    </a>
    <h1 style="font-weight: 600">Ca sĩ</h1>
  </div>
  <div style="margin-bottom: 20px">
    <button mat-button (click)="openDialogCreate()" *ngIf="checkUserAdmin" type="submit">Thêm ca sĩ<mat-icon>add_circle</mat-icon></button>
  </div>
  <div class="gallery">
    <div *ngFor="let singer of singerList"  tabindex="0" style="text-align: center">
      <a [routerLink]="['/detail-singer/',singer.id]">
        <img src="{{singer.avatar}}"
             alt="" >
      </a>
      <div class="info" style="display: flex">
<!--Deploy-->
        <a [routerLink]="['/detail-singer/',singer.id]"  style="width: 80%"><h4>{{singer.name}}</h4>
        </a>

        <mat-icon [matMenuTriggerFor]="menu" *ngIf="checkUserAdmin" style="float: right;margin-top: 5px">pending</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="delete" *ngIf="checkUserAdmin" (click)="openDialogDelete(singer.id)">
            <mat-icon style="color: darkred">delete
            </mat-icon>
          </button>
          <button mat-menu-item class="edit" *ngIf="checkUserAdmin" (click)="openDialogUpdate(singer.id)">
            <mat-icon style="color: #203fda">edit
            </mat-icon>
          </button>
        </mat-menu>
      </div>

    </div>

  </div>
  <mat-paginator [length]="totalElements"
                 (page)="nextPage($event)"
                 [pageSizeOptions]="[5, 10, 15, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>
