<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 1200px; margin: auto; min-width: 600px; text-align: center">
      <mat-card style="background: rgba(255,255,255,0.7)">
        <h1 style="margin:auto; margin-top: 50px; margin-bottom: 10px; font-weight: 600; color: #1E90FF;">
          Cập nhật INTRODUCE
        </h1>
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="form" (ngSubmit)="onUpdate()" novalidate>
            <mat-form-field class="example-full-width">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput placeholder="Title">
              <mat-error *ngIf="form.get('title')?.hasError('required') && form.get('title')?.touched">
                Vui lòng nhập tiêu đề
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput placeholder="Description">
            </mat-form-field>
            <br>

            <app-quill-content #quillContent formControlName="content"></app-quill-content>
            <mat-error *ngIf="form.get('content')?.hasError('required') && form.get('content')?.touched">
              Vui lòng nhập nội dung
            </mat-error>
            <br>
            <div style="display:flex; gap:16px; justify-content:center; margin-bottom: 30px;">
              <button mat-stroked-button color="primary" type="submit" style="background-color: rgba(156,232,23,0.49); width: 40%; color: #0535f4">
                Cập nhật Introduce
              </button>
            </div>
          </form>
          <button (click)="onCancel()"  mat-stroked-button color="primary" type="submit" style="background-color: rgba(63,152,154,0.49); width: 40%; color: #9c07b3">
            Quay Lại Trang Quản Lý
          </button>
        </mat-dialog-content>
      </mat-card>
    </div>
  </div>
</div>

