
<app-carousel></app-carousel>
<hr>
<app-scroll-text [linesWithEmoji]="[
  { emoji: '🩷', text: 'Lấy khách hàng làm trọng tâm!', color: 'red' },
  { emoji: '🌸', text: 'Mọi hoạt động đều hướng đến khách hàng, vì khách hàng!', color: 'green' },
  { emoji: '🪷', text: 'Dựa trên sự suy xét để biết được những nhu cầu của khách hàng!', color: 'orange' },
  { emoji: '🎀', text: 'Chủ tịch HĐQT: Vũ Đình Hoành', color: 'blue' }
]">
</app-scroll-text>
<hr>
<app-running-text></app-running-text>
<hr>
<app-page-news></app-page-news>
<hr>



